html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: black;
	text-align: center;
	font-family: helvetica;
	overflow-x: hidden;
}
body, a{
	color: white;
}
a{
	text-decoration: none;
}
section{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#mainSentence{
	font-size: 4vw;
}
.meaning{
	font-size: 1.5vw;
}
#mainSentence a:hover{
	color: #FF173D;
}
.meaning p, .meaning ul{
	margin-left: 12vw;
	margin-right: 12vw;
}
ul{
	text-align: left;
}
.word{
	font-size: 2vw;
}

/* Images */
img{
	position: absolute;
	width: 200px;
	top: 0;
	left: 0;
}

/* Up */
#up{
	position: fixed;
    right: 1vw;
    bottom: 1vw;
    padding: 20px;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
	background-color: #202020;
	box-shadow: #303030 0px 10px 10px;
}


/* Responsive */

@media screen and (max-width: 600px) {
#mainSentence{
	font-size: 5vw;
}
.meaning{
	font-size: 4vw;
}
.word{
	font-size: 4.5vw;
}

img{
	width: 100px;
}
}
